header{
    background-color: black;
    height: 50px;
    position: relative;
}

header img{
    width: 100px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
}

/* NAV */


#nav .container-fluid .row .col i{
    font-size: 2em;
    border: 2px solid lightgray;
    padding: 2px;
}

#nav .container-fluid .row .col .hidden ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#lente{
    width: 35px;
}

/* SECTION RETURNAL*/

#returnal .container-xs .row .col{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: right;
    height: 500px;
}

/* SECTION CARDS*/

#cards .container-fluid .row .col-6 img{
    width: 250px;
}
