body{
    font-family: Arial, Helvetica, sans-serif;
}

.bottoni{
    text-decoration: none;
    padding: 10px;
    background-color: #2d64e6;
    border-radius: 20px;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 600; 
}

header{
    background-color: black;
    height: 50px;
    position: relative;
}

header img{
    width: 100px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
}

/* NAV */


#nav .container-fluid .row .col i{
    font-size: 2em;
    border: 2px solid lightgray;
    padding: 2px;
}

#nav .container-fluid .row .col .hidden ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#lente{
    width: 35px;
}

/* SECTION RETURNAL*/

#returnal{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
}

#returnal .container-fluid .row .col-12{
    color: #ffffff;
}

#returnal .container-fluid .row .col-12 img{
    margin-top: 200px;
    max-width: 50%;
}

#returnal .container-fluid .row .col-12 a{
    text-decoration: none;
    padding: 10px;
    background-color: #cd3d0f;
    border-radius: 20px;
    color: #ffffff;
    border-style: double;
    transition: border 2s linear; 
}

#returnal .container-fluid .row .col-12 a:hover{
    border: 2px double #cd3d0f;
}

/* SECTION CARDS*/

#cards .container-fluid .row .col-6 img{
    transition: transform 2s ease-out; 
}


#cards .container-fluid .row .col-6 img:hover{
    cursor: pointer;
    transform: translate(0, -20px);
}

/* SECTION SHOW-ME*/

#show-me .container .row .col-12 h6{
    color: #0072ce;
}

/* SECTION TAKES-TWO*/

#takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
}

#takes-two .container-fluid .row .col-12{
    color: #ffffff;
}

#takes-two .container-fluid .row .col-12 h1{
    margin-top: 50px;
} 

#takes-two .container-fluid .row .col-12 img{
    max-width: 300px;
}

#takes-two .container-fluid .row .col-12 a{
    text-decoration: none;
    border: 2px solid #cd3d0f;
    padding: 5px;
    background-color: #cd3d0f;
    border-radius: 20px;
    color: #ffffff;
}

/* NUOVE USCITE*/

#nuove-uscite{
    background-color: #1f1f1f;
}

#nuove-uscite .container-fluid .row .col{
    color: #ffffff;
}

#nuove-uscite .container-fluid .row .col h1{
    padding-top: 30px;
}

#nuove-uscite .container-fluid .row .col-6 img{
    border-color: #1f1f1f;
}

/* PLUS*/

#plus{
    background-color: #bebcbb;
    height: 220px;
}

#plus .container-fluid .row .col img{
    max-width: 300px;
    padding-top: 0 !important;
} 

#plus .container-fluid .row .col a{
    text-decoration: none;
    border: 2px solid #d9dadc;
    padding: 5px;
    background-color: #d9dadc;
    border-radius: 20px;
    color: #2d64e6;
    font-size: 0.8em;
    font-weight: 600;
}

#ps-plus{
    height: 100%;
}

/* SCONTI */


/* NOW */
#now{
    background-color: #161c3b;
}

#now .container-fluid .row .col-12 p{
    color: #ffffff;
}

#now .container-fluid .row .col-12 a{
    text-decoration: none;
    border: 2px solid #d9dadc;
    padding: 5px;
    background-color: #d9dadc;
    border-radius: 20px;
    color: black;
    font-size: 0.8em;
    font-weight: 600;
}

/* FOOTER */

#footer{
    background-color: #00439c;
}

#footer .container-fluid .row .col-lg-6 p{
    color: #ffffff;
}

#footer .container-fluid .row .col-12 a{
    text-decoration: none;
    color: #ffffff;
}

#footer .container-fluid .row .col-12 p{
    color: #ffffff;
}

#footer .container-fluid .row .col-12 img{
    max-width: 150px;
}

#footer .container-fluid .row .col-12 p a{
    text-decoration: underline;
}