body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    height: 50px;
    position: relative;
}

header img{
    width: 100px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
}

/* NAV */


#nav .container-fluid .row .col i{
    font-size: 2em;
    border: 2px solid lightgray;
    padding: 2px;
}

#nav .container-fluid .row .col .hidden ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#lente{
    width: 35px;
}

/* SECTION RETURNAL*/

#returnal .container-fluid .row .col{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: right;
    height: 500px;
}

#returnal .container-fluid .row .col{
    color: #ffffff;
}

#returnal .container-fluid .row .col h1{
    margin-top: 300px;
}

#returnal .container-fluid .row .col a{
    text-decoration: none;
    border: 2px solid #cd3d0f;
    padding: 5px;
    background-color: #cd3d0f;
    border-radius: 20px;
    color: #ffffff;
}

/* SECTION CARDS*/


/* SECTION SHOW-ME*/

#show-me .container .row .col-12 h6{
    color: #0072ce;
}

/* SECTION TAKES-TWO*/

#takes-two .container-fluid .row .col{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
}

#takes-two .container-fluid .row .col{
    color: #ffffff;
}

#takes-two .container-fluid .row .col h1{
    margin-top: 300px;
}

#takes-two .container-fluid .row .col a{
    text-decoration: none;
    border: 2px solid #cd3d0f;
    padding: 5px;
    background-color: #cd3d0f;
    border-radius: 20px;
    color: #ffffff;
}

/* NUOVE USCITE*/

#nuove-uscite{
    background-color: #1f1f1f;
}

#nuove-uscite .container-fluid .row .col{
    color: #ffffff;
}

#nuove-uscite .container-fluid .row .col h1{
    padding-top: 30px;
}